.lg-hide {
	display: block;
}

.lg-show {
	display: none;
}

.md-hide {
	display: block;
}

.md-show {
	display: none;
}

.sm-hide {
	display: block;
}

.sm-show {
	display: none;
}

.xs-hide {
	display: block;
}

.xs-show {
	display: none;
}

////////////////////////////////////////////////////////////////////
///////////////////////////// lg ///////////////////////////////////
////////////////////////////////////////////////////////////////////

@media screen and (max-width: 1100px) {
	.lg-hide {
		display: none;
	}
	.lg-show {
		display: block;
	}
	.footer {
		&__bottom-text {
			padding-right: 10%;
		}
	}
	.vacancy {
		&__info {
			width: 58%;
		}
		&__form {
			width: 40%;
		}
	}

	.statistics {
		&__item {
			p:nth-child(1) {
				font-size: 13px;
				line-height: 13px;
			}
			p:nth-child(2) {
				font-size: 110px;
				letter-spacing: -0.1em;
				position: absolute;
				left: -10px;
				top: -3px;
			}
			p:nth-child(3) {
				font-size: 26px;
				padding-left: 112px;
			}
			p:nth-child(4) {
				font-size: 13px;
				padding-left: 112px;
			}
		}
	}	

}

////////////////////////////////////////////////////////////////////
///////////////////////////// md ///////////////////////////////////
////////////////////////////////////////////////////////////////////

@media screen and (max-width: 930px) {
	.md-hide {
		display: none;
	}

	.md-show {
		display: block;
	}
	.header {
		&__bar {
			justify-content: space-between;
		}
		&__tel {
			margin-right: 0;
		}
		&__submenu {
			top: -1px;
		}
	}
	.design-banner {
		background-position: center 40px;
		&__tel {
			position: static;
			margin-bottom: 30px;
		}
	}
	.stages {
		&__row {
			display: flex;
			justify-content: space-between;
			margin-left: -10px;
			margin-right: -10px;
		}
		.container {
			border-radius: 0;
		}
	}
	.stage {
		width: 100%;
	}
	.footer {
		&__menu, &__links {
			font-size: 15px;
		}
		&__links {
			padding-bottom: 70px;
		}
		&__bottom-text {
			padding-right: 8%;
		}
	}
	.consultation {
		margin-bottom: 20px;
	}
	.vacancy {
		text-align: center;
		&__row {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__info {
			width: 100%;
		}
		&__form {
			width: 96%;
			max-width: 580px;
			margin-bottom: 40px;
		}
	}
	.vacancies-banner {
		text-align: center;
		&__info  {
			width: 100%;
		}
		&__button-box {
			text-align: center;
		}
	}
	.income {
		border-top: 2px solid #a9a9a9;
		&:before {
			display: none;
		}
		p {
			margin-bottom: 320px;
		}
		&__info {
			text-align: center;
			width: 100%;
			background: url(../images/income-img-md.jpg) 50% 100% no-repeat;
			padding-top: 50px;
			padding-bottom: 0;
			padding-right: 0;
			&:before {
				display: none;
			}
		}
		&__img {
			display: none;
		}
	}

	.vacancies {
		padding-top: 70px;
		h2 {
			margin-bottom: 65px;
		}
		&__item {
			padding-top: 10px;
			padding-bottom: 23px;
		}
		&__col-1 {
			width: 69%;
			padding-right: 20px;
			p:nth-child(1) {
				font-size: 15px;
				line-height: 26px;
			}
			p:nth-child(2) {
				font-size: 24px;
				line-height: 30px;
				font-weight: 300;
			}
		}
		&__col-2 {
			width: 29%;
			padding-right: 10px;
			p {
				font-weight: 300;
				font-size: 20px;
			}		
		}
		&__col-3 {
			display: none;
		}
	}

}

////////////////////////////////////////////////////////////////////
//////////////////////////// 890 () ////////////////////////////////
////////////////////////////////////////////////////////////////////

@media screen and (max-width: 890px) {
	.hide-890 {
		display: none;
	}
	.statistics {
		height: auto;
		background: #f5f4fa url(../images/statistics-bg-xs.jpg) 0 100% no-repeat;
		background-size: auto;
		padding-top: 70px;
		padding-bottom: 90px;
		h2 {
			margin-bottom: 30px;
		}
		&__row {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__item {
			position: relative;
			text-align: center;
			width: 100%;
			margin-bottom: 40px;
			p:nth-child(1) {
				font-size: 15px;
				line-height: 15px;
			}
			p:nth-child(2) {
				font-size: 90px;
				line-height: 90px;
				letter-spacing: -0.1em;
				position: static;
				left: 0;
				margin-top: -4px;
			}
			p:nth-child(3) {
				font-size: 30px;
				padding-left: 0;
				margin-top: -10px;
			}
			p:nth-child(4) {
				font-size: 15px;
				padding-left: 0;
			}
		}
	}

}

////////////////////////////////////////////////////////////////////
//////////////////////////// sm ////////////////////////////////////
////////////////////////////////////////////////////////////////////

@media screen and (max-width: 700px) {
	.sm-hide {
		display: none;
	}

	.sm-show {
		display: block;
	}
	.header {
		&__submenu {
			&--village {
				column-count: 3;
			}
		}
	}
	.design-banner {
		h1 {
			font-size: 24px;
		}
	}
	.consultation {
		input {
			margin-bottom: 16px;
		}
		&__form {
			width: auto;
			margin: 0 -10px;
			padding-bottom: 70px;
		}
		&__form-row {
			input+p {
				margin-top: -10px;
			}
		}
	}
	.footer {
		&__links-row {
			justify-content: center;
			&>div {
				margin-left: 20px;
				margin-right: 20px;
			}
		}
		&__bottom-row {
			display: block;
			text-align: center;
		}
		&__bottom-text {
			padding-left: 20px;
			padding-right: 20px;
		}
		&__bottom-tel {
			text-align: center;
			margin-top: 40px;
			margin-bottom: 25px;
		}
		&__bottom-social {
			justify-content: center;
			img {
				margin-left: 5px;
				margin-right: 5px;
			}
		}
	}
	h2 {
		font-size: 24px;
		line-height: 30px;
	}
	.vacancy {
		&__form {
			width: 98%;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.vacancies-banner {
		&__info  {
			padding-top: 90px;
		}
	}
	.advantages {
		&__row {
			flex-wrap: wrap;
		}
		&__item {
			width: 100%;
		}
		&__hover-box {
			left: 0;
			padding-bottom: 0;
		}
		&__hover-img {
			width: 100px;
		}
	}
	.success {
		padding-bottom: 0px;
		margin-bottom: 0px;
		h2 {
			font-size: 36px;
			line-height: 30px;
			text-align: center;
		}
		p {
			text-align: center;
			font-size: 15px;
			line-height: 20px;
			width: 100%;
			margin-bottom: 74px;
			padding-top: 36px;
			padding-left: 10px;
			padding-right: 10px;
			background: url(../images/saccess-item.png) 50% 0 no-repeat;
		}	
	}

	.vacancies {
		padding-top: 70px;
		margin-bottom: 30px;
		h2 {
			margin-bottom: 35px;
			text-align: center;
		}
		&__item {
			display: block;
			border-bottom: 1px solid #e5e5e5;
			padding-top: 15px;
			padding-bottom: 28px;
			text-align: center;
		}
		&__col-1 {
			padding-left: 0;
			padding-right: 0px;
			width: 100%;
			margin-bottom: 10px;
			p:nth-child(1) {
				font-size: 15px;
				line-height: 26px;
				color: #f2131a;
			}
			p:nth-child(2) {
				font-size: 18px;
				line-height: 20px;
				font-weight: 400;
				a {
					color: #000;
				}
			}
		}
		&__col-2 {
			width: 100%;
			padding-right: 10px;
			p {
				font-size: 20px;
			}		
		}
	}

}

////////////////////////////////////////////////////////////////////
///////////////////////////// xs ///////////////////////////////////
////////////////////////////////////////////////////////////////////

@media screen and (max-width: 500px) {
	.xs-hide {
		display: none;
	}

	.xs-show {
		display: block;
	}
	.header {
		&__counter {
			&>div {
				text-align: right;
			}
			&>p {
				text-align: right;
			}
		}
		&__submenu {
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 15px;
			padding-bottom: 15px;
			&--village {
				column-count: 2;
			}
		}
	}
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}
	.mobile-menu {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 15px;
		padding-bottom: 15px;
		width: 300px;
	}
	.design-banner {
		background-position: center 60px;
	}
	.stage {
		border-radius: 0;
		box-shadow: none;
	}
	.design-subtitle {
		font-size: 20px;
	}
}