@font-face {
  font-family: 'RobotoSlab';
  src: url('../fonts/RobotoSlab-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('../fonts/RobotoSlab-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayPro';
  src: url('../fonts/PFDinDisplayPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayPro';
  src: url('../fonts/PFDinDisplayPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

